ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #d82cc1;
  }
  
  li a {
    display: block;
    color: rgb(74, 42, 190);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: rgb(207, 31, 207);
    color: rgb(0, 0, 0);
  }